body {
    background-color: #bceaee80

}

h1 {
    font-family: 'Carter One', cursive;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

h2 {
    font-family: 'Carter One', cursive;
    text-align: center;
}

.container-login {
    display: flex;
    flex-direction: column;
    font-family: 'Carter One', cursive;
    align-items: center;
}

input {
    width: 30%;
    border: 1px solid lightslategray;
    border-radius: 4px;
    background-color: white;
}

.inputname {
    font-size: 25px;
}

.logout-btn {
    opacity: 0.7;
    font-family: 'Carter One', cursive;
    font-size: 10px;
    height: 20px;
    width: 10%;

}

.current-user {
    font-family: 'Carter One', cursive;
    opacity: 0.7;
    margin: 10px;
}

.current-username {
    color:darkmagenta;
}

.abc-btns {
    margin: 1px;
    width: 5%;
    height: 20px;
}

button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Carter One', cursive;
  height: 35px;
  width: 30%;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin: 3px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.lb-btns {
    width: 46%;
}

.guessedwords {
    opacity: 0.5;
}

.start-text {
    font-family: 'Carter One', cursive;
    font-size: 20px;
    margin: 10%;
    text-align: center;
}


